.card {
    border: 1px solid var(--light-grey);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 0 3px 1px var(--dark-grey);
  }
  
  .card-header {
    background-color: var(--vanilla-white);
    color: white;
  }

  label, .card-body{
      color: var(--dark-grey)!important;
  }
  
  .card-body {
    background-color: var(--egg-white);
  }