.card {
    border: 1px solid var(--black);
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .card-header {
    background-color: var(--nc-blue);
    color: white;
  }

  label, .card-body{
      color: var(--black)!important;
  }
  
  .card-body {
    background-color: var(--egg-white);
  }