:root {
    --nc-blue: #09193B;
    --egg-white: #EAE7DC;
    --vanilla-white: #D8C3A5;
    --sand: #DEBA87;
    --light-grey: #D1D1D1;
    --dark-grey: #8E8D8A;
    --pink: #E98074;
    --red: #E86A4F;
  }