@import './_constants.css';

/* Input & forms */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]::placeholder { /* Firefox, Chrome, Opera */ 
  color: var(--nc-blue); 
} 

input[type=number]:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
  color: var(--nc-blue);
} 

input[type=number]::-ms-input-placeholder { /* Microsoft Edge */ 
  color: var(--nc-blue);
} 

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.form-control {
  border: 1px solid var(--nc-blue);
}

.form-control:focus {
  border-color: var(--nc-blue);
  box-shadow: 0 0 5px var(--nc-blue);
}

/* Text selectors */
h3, h5, p, label, li {
  color: var(--nc-blue);
}

h3 {
  margin-top: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 0;
}

/* Links */
a, a:link.app-link {
  color: var(--nc-blue);
  text-decoration: none;
}

a:hover.app-link {
  color: var(--nc-red);
}

/* Buttons */
.app-primary-btn {
  color: var(--nc-blue);
  border-color: var(--nc-blue);
}

.app-primary-btn:hover {
  color: white;
  background-color: var(--nc-blue);
  border-color: var(--nc-blue);
}

.app-primary-btn:focus {
  color: white;
  background-color: var(--nc-blue);
  border-color: var(--nc-blue);
  box-shadow: 0 0 0 0.2rem rgba(9,25,59, 0.5)
}

.app-primary-btn:active {
  color: white;
  background-color: var(--nc-blue);
  border-color: var(--nc-blue);
  box-shadow: 0 0 0 0.2rem rgba(9,25,59, 0.5);
}

.app-secondary-btn {
  color: var(--nc-red);
  border-color: var(--nc-red);
}

.app-secondary-btn:hover {
  color: white;
  background-color:var(--nc-red);
  border-color: var(--nc-red);
}

.app-secondary-btn:focus {
  color: white;
  background-color: var(--nc-red);
  border-color: var(--nc-red);
  box-shadow: 0 0 0 0.2rem rgba(227, 95, 82, 0.5)
}

.app-secondary-btn:active {
  color: white;
  background-color: var(--nc-red);
  border-color: var(--nc-red);
  box-shadow: 0 0 0 0.2rem rgba(227, 95, 82, 0.5);
}

.text-muted {
  color: var(--nc-blue)!important;
}

.alert-primary {
  color: white;
  background-color: var(--nc-red);
  border-color: var(--nc-red);
  position: relative;
  padding: 11px 18px;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
}

footer {
  background-color: var(--nc-header);
  min-height: 100px;
}