.app {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.form-control {
  border: 1px solid #09193b;
}

.form-control:focus {
  border-color: #09193b;
  box-shadow: 0 0 5px #09193b;
}

a, a:link.app-link {
  color: #09193b;
  text-decoration: none;
}

a:hover.app-link {
  color: #E35F52;
}

h3, h5, p, label, li {
  color: #09193b;
}

h3 {
  margin-top: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 0;
}

.app-primary-btn {
  color: #09193b;
  border-color: #09193b;
  margin-bottom: 10px;
}

.app-primary-btn:hover {
  color: white;
  background-color: #09193b;
  border-color: #09193b;
}

.app-primary-btn:focus {
  color: white;
  background-color: #09193b;
  border-color: #09193b;
  box-shadow: 0 0 0 0.2rem rgba(9, 25, 59, 0.5)
}

.app-primary-btn:active {
  color: white;
  background-color: #09193b;
  border-color: #09193b;
  box-shadow: 0 0 0 0.2rem rgba(9, 25, 59, 0.5);
}

.app-secondary-btn {
  color: #E35F52;
  border-color: #E35F52;
  margin-bottom: 10px;
}

.app-secondary-btn:hover {
  color: white;
  background-color:#E35F52;
  border-color: #E35F52;
}

.app-secondary-btn:focus {
  color: white;
  background-color: #E35F52;
  border-color: #E35F52;
  box-shadow: 0 0 0 0.2rem rgba(227, 95, 82, 0.5)
}

.app-secondary-btn:active {
  color: white;
  background-color: #E35F52;
  border-color: #E35F52;
  box-shadow: 0 0 0 0.2rem rgba(227, 95, 82, 0.5);
}

.text-muted {
  color: #040038;
}

.alert-primary {
  color: white;
  background-color: #E35F52;
  border-color: #E35F52;
  position: relative;
  padding: 11px 18px;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.card {
  border: 1px solid #09193b;
}

/* .card-header {
  background-color: rgba(9, 25, 59, 0.25);
} */