@import './_constants.css';

body {
  background-color: var(--light-grey);
}

/* Input & forms */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.form-control {
  border: 1px solid var(--primary-color);
}

.form-control:focus {
  border-color: var(--dark-grey);
  box-shadow: 0 0 5px var(--dark-grey);
}

/* Text selectors */
h3, h5, p, label, li {
  color: var(--dark-grey);
}

h3 {
  margin-top: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 0;
}

/* Links */
a, a:link.app-link {
  color: var(--dark-grey);
  text-decoration: none;
}

a:hover.app-link {
  color: var(--pink);
}

/* Buttons */
.app-primary-btn {
  color: var(--dark-grey);
  border-color: var(--dark-grey);
  margin-bottom: 10px;
}

.app-primary-btn:hover {
  color: white;
  background-color: var(--dark-grey);
  border-color: var(--dark-grey);
}

.app-primary-btn:focus {
  color: white;
  background-color: var(--dark-grey);
  border-color: var(--dark-grey);
  box-shadow: 0 0 0 0.2rem rgba(142,142,138, 0.5)
}

.app-primary-btn:active {
  color: white;
  background-color: var(--dark-grey);
  border-color: var(--dark-grey);
  box-shadow: 0 0 0 0.2rem rgba(142,142,138, 0.5);
}

.app-secondary-btn {
  color: var(--pink);
  border-color: var(--pink);
  margin-bottom: 10px;
}

.app-secondary-btn:hover {
  color: white;
  background-color:var(--pink);
  border-color: var(--pink);
}

.app-secondary-btn:focus {
  color: white;
  background-color: var(--pink);
  border-color: var(--pink);
  box-shadow: 0 0 0 0.2rem rgba(233, 128, 116, 0.5)
}

.app-secondary-btn:active {
  color: white;
  background-color: var(--pink);
  border-color: var(--pink);
  box-shadow: 0 0 0 0.2rem rgba(233, 128, 116, 0.5);
}

.text-muted {
  color: var(--dark-grey)!important;
}

.alert-primary {
  color: white;
  background-color: var(--red);
  border-color: var(--red);
  position: relative;
  padding: 11px 18px;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
}