.app {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.form-control {
  border: 1px solid #09193b;
}

.form-control:focus {
  border-color: #dd9b2b !important;
  box-shadow: 0 0 5px #dd9b2b!important;
}

a, a:link {
  margin-top: auto;
  color: #09193b;
  text-decoration: none;
}

a:hover {
  color: #dd9b2b;
}

h3, h5, p, label, li {
  color: #09193b;
}

h3 {
  margin-top: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 0;
}

.app-btn {
  background-color: #09193b;
  border-color: #09193b;
  margin-bottom: 10px;
}

.app-btn:hover {
  background-color: #dd9b2b;
  border-color: #dd9b2b;
}

.app-btn:focus {
  background-color: #dd9b2b;
  border-color: #dd9b2b;
  box-shadow: 0 0 0 0.2rem rgba(221, 155, 43, 0.5)
}

.app-btn:active {
  background-color: #dd9b2b!important;
  border-color: #dd9b2b!important;
  box-shadow: 0 0 0 0.2rem rgba(221, 155, 43, 0.5)!important;
}

.text-muted {
  color: #040038!important;
}

.alert-primary {
  color: white;
  background-color: #E35F52;
  border-color: #E35F52;
}

.card {
  border: 1px solid #09193b;
}