.app-navbar {
  background-color: var(--nc-header);
  padding: 20px;
  border-bottom: 3px solid var(--nc-red);
  text-align: center;
}

.navbar-logo {
  display: inline-block;
  font-size: 25px;
  color: white!important;
  margin: auto;
}

.navbar-logo:hover {
  text-decoration: none;
}