.app-navbar {
  background-color: var(--nc-header);
  padding: 20px;
  border-bottom: 3px solid var(--nc-red);
}

.p-navbar {
  width: 100%;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  color: white!important;
}